  <div class="row">
    <div class="col">
      <h2>User info</h2>
        <%= image_tag user.get_profile_image(100,100) %>
        <table class="table">
          <tbody>
            <tr></tr>
              <th>name</th>
              <th><%= user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= user.introduction %></th>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block " do %>
           <i class="fas fa-user-cog"></i>
          <% end %>
        </div>
    </div>
  </div>

<!--<h2>User info</h2>
  <%#= image_tag user.get_profile_image(100,100) %>
  <h4>name<%#= user.name %></h4>
  <h4>introduction<%#= user.introduction %></h4>
  <p><%#= link_to "edit", edit_user_path(user) %></p>-->